.attendance{
  &-present,
  &-absent,
  &-closed,
  &-undecided{
    height: 12px;
    width: 12px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    background-size: cover !important;
  }
  &-present{
    background: url('../img/check.png') no-repeat center center;
  }
  &-absent{
    height: 10px;
    width: 10px;
    background: url('../img/cross.png') no-repeat center center;
  }
  &-closed{
    background: url('../img/closed.png') no-repeat center center;
  }
  &-undecided{
    background: url('../img/undecided.png') no-repeat center center;
  }
  &-day-status{
    width: 100%;
    max-width: 15px;
    height: 3px;
    margin: 0;
    display: inline-block;
    &.open{
      background-color: $primary-color;
    }
    &.close{
      background-color: $color-red;
    }
    .na{
      background-color: $color-grey;
    }
  }
}

#single-day-count{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin:10px 0;
  .day-count-item{
    flex: 1;
    text-align: center;
    padding: 20px;
    box-shadow: $light-box-shadow;
    background-color: $color-white;
    .value{
      font-size: 20px;
      font-weight: bold;
    }
  }
}


table.edupress-table-attendance{
  tr[data-role='student'] td{ background-color: #E8F1FA !important;}
  tr[data-role='teacher'] td{ background-color: #EAF7F1 !important;}
  tr[data-role='manager'] td{ background-color: #F2ECFA !important;}
  tr[data-role='student'] td{ background-color: #FFF1E6 !important;}
  tr[data-role='guardian'] td{ background-color: #FFF9E1 !important;}
  // tr[data-role='student'] td{ background-color: #E6F4F3 !important;}
}

body .edupress-table-wrap table.edupress-table-attendance-report{
  th, 
  td,
  th a,
  td a,
  th div,
  td div,
  th label,
  td label{
    padding: 3px !important;
    font-size: 13px !important;
  }
}

@media screen and (max-width: 768px) {
  #single-day-count{
    flex-direction: column;
    gap: 10px;
    .day-count-item{
      padding: 10px;
    }
  }
  
}