$color-white: #fff;
$color-black: #000;

$color-text: #333;

$color-success: #8ec5321c;
$color-danger:  rgba(255,0,0,0.1);

$primary-color: #8ec532;
$secondary-color: teal;

$light-bg-color: #f3f3f3;
$light-page-bg-color: #f5faff;
$overlay-bg-color: rgba(0,0,0,0.45);

$light-border-color: #ccc;

$light-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

$topbar-height: 75;

$highlight-color: #ffeeba;

$color-red: red;
$color-grey: #ccc;
$color-green: #3d6000;
$color-danger: #ff0000;
$color-danger-light: rgba(255, 0, 0, 0.05);

:root{
    --ep-gap: 10px;
    --ep-base-col: calc(100% / 12);
    --ep-default-column-gap: 10px;
    --ep-default-row-gap: 10px;
}
